# Identify:

Please fill-in your ID in the following cell, **only id numbers, no names!**

In [1]:
id1 = "208133538"
id2 = "319005898"

In [3]:
df = pd.DataFrame([id1])

Uncomment in case two students are doing the assignment together:

In [4]:
#df = pd.DataFrame([id1,id2])

In [5]:
df.to_clipboard(index=False,header=False)

Please fill your names here:

Tali Riskin
Noam Ifargan

---

----

# Write your answers here

add as much lines of code and markdown as you need for each answer

In [1]:
import numpy as np
import pandas as pd
from datetime import date

In [2]:
url='https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv'
covid_df = pd.read_csv(url)

# Q1

In [3]:
covid_df['date'] = pd.to_datetime(covid_df.date)
july=(covid_df['date'].dt.month_name()=='July')
mymonth=covid_df[july].copy()
a,b=mymonth.shape
print("The number of rows in my month:",a)

The number of rows in my month: 6770

 # Q2

In [4]:
mymonth[['daily_vaccinations','people_vaccinated_per_hundred']].isnull().sum()

daily_vaccinations                  1
people_vaccinated_per_hundred    3050
dtype: int64

In [5]:
mymonth['daily_vaccinations'].fillna(0, inplace = True)

In [6]:
mymonth['new_people_vaccinated_per_hundred']= mymonth.groupby('location')[['people_vaccinated_per_hundred']].apply(lambda x:x.fillna(method='ffill')) 
mymonth['new_people_vaccinated_per_hundred']= mymonth.groupby('location')[['people_vaccinated_per_hundred']].apply(lambda x:x.fillna(method='bfill'))
mymonth

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,new_people_vaccinated_per_hundred
129,Afghanistan,AFG,2021-07-01,NaN,NaN,NaN,NaN,NaN,14115.0,NaN,NaN,NaN,NaN,363.0,1.87
130,Afghanistan,AFG,2021-07-02,NaN,NaN,NaN,NaN,NaN,12944.0,NaN,NaN,NaN,NaN,333.0,1.87
131,Afghanistan,AFG,2021-07-03,NaN,NaN,NaN,NaN,NaN,11773.0,NaN,NaN,NaN,NaN,302.0,1.87
132,Afghanistan,AFG,2021-07-04,NaN,NaN,NaN,NaN,NaN,10602.0,NaN,NaN,NaN,NaN,272.0,1.87
133,Afghanistan,AFG,2021-07-05,915671.0,726349.0,189322.0,NaN,NaN,8989.0,2.35,1.87,0.49,NaN,231.0,1.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40313,Zimbabwe,ZWE,2021-07-27,2275145.0,1561994.0,713151.0,NaN,96727.0,54014.0,15.31,10.51,4.80,NaN,3634.0,10.51
40314,Zimbabwe,ZWE,2021-07-28,2323763.0,1593365.0,730398.0,NaN,48618.0,53512.0,15.63,10.72,4.91,NaN,3600.0,10.72
40315,Zimbabwe,ZWE,2021-07-29,2375090.0,1623583.0,751507.0,NaN,51327.0,51183.0,15.98,10.92,5.06,NaN,3444.0,10.92
40316,Zimbabwe,ZWE,2021-07-30,2413238.0,1645308.0,767930.0,NaN,38148.0,48781.0,16.24,11.07,5.17,NaN,3282.0,11.07
40317,Zimbabwe,ZWE,2021-07-31,2433070.0,1653821.0,779249.0,NaN,19832.0,45242.0,16.37,11.13,5.24,NaN,3044.0,11.13

 
החלטנו לשים אפסים מכיוון שלא ניתן לדעת למה באותו תאריך לא מילאו daily_vaccinations במקומות החסרים של
 
 החלטנו למלא את הערכים שהיו לפני או אחרי בהתאמה מכיוון שההעמודה הזאת זה חיסונים פר 100 אנשים ולכן עד אותם מאה אנשים יהיה את אותה כמות כמו שהיה יום לפני או יום אחרי עד שיש מספר חדש כנל לגבי מההפך לתת את אותו מספר שבא אחרי people_vaccinated_per_hundred במקומות החסר new_per_hundred פתחנו עמודה חדשה שנקראת
על מנת שיהיה ניתן לראות את השינוי מהעמודה המקורית להעמודה החדשה שפתחנו (השינוי יהיה בעמודה החדשה) new_people_vaccinated_per_hundred הוספנו עמודה של

# Q3

In [27]:
a=mymonth.groupby('location')['daily_vaccinations'].max()
a.argmax()
mymonth[['location','date','daily_vaccinations']].iloc[222]

location              Antigua and Barbuda
date                  2021-07-20 00:00:00
daily_vaccinations                  107.0
Name: 1460, dtype: object

Q4

In [7]:
print(mymonth[['daily_vaccinations']].mean())
print(mymonth[['daily_vaccinations']].median())

daily_vaccinations    639398.711669
dtype: float64
daily_vaccinations    9478.5
dtype: float64

הממוצע יותר גבוהה מהחציון מכיוון שבממוצע הערכים הגבוהים (איפה שהיה הכי הרבה חיסונים ) משפיע יותר מאשר בחציון

# Q5

In [8]:
israelmonth= mymonth.loc[mymonth['location']=='Israel',['people_vaccinated_per_hundred']]
print("The average of", israelmonth.iloc[0:7].mean())

The average of people_vaccinated_per_hundred    65.302857
dtype: float64

# Q6

In [9]:
three= mymonth.fillna(0).groupby('location')[['people_vaccinated_per_hundred']].max().copy()
three.sort_values('people_vaccinated_per_hundred', ascending=False).head(3)

           people_vaccinated_per_hundred
location
Gibraltar                         116.77
Pitcairn                          100.00
Malta                              90.52

---
# GOOD LUCK !!!!
---

In [ ]:
# do not type below this line